<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/rahulmishra/Documents/Code/Personal/Playwright-POC">
        <classes>
            <class name="tests.ExampleTest">
                <methods>
                    <include name="chromiumTest"/>
                    <include name="chromeTest"/>
                    <include name="firefoxTest"/>
                    <include name="safariTest"/>
                    <!--Excluding msEdge test due to some installation problems on MacOS
                        Solution for this is provided in the README file-->
                    <exclude name="edgeTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>